<a>Press here to GET data:</a>
<div>
  <button (click)='showMovies();'>
    Get
  </button>
</div>
<br>

<app-movie-editor></app-movie-editor>

<br>
<div *ngFor="let movie of movies">
    <label>Movie name: {{movie.name}}</label>
    <button (click)="showMovie(movie.name);">
      Expand
    </button>
    &nbsp;
    <button (click)="deleteMovie(movie.name);">
      Delete
    </button>
    &nbsp;
</div>


<div *ngIf="movieOnDisplay">
  <h1>
      Selected movie: {{movieOnDisplay.name}}
  </h1>
    <a *ngIf="movieOnDisplay.genre">
        Genre: {{movieOnDisplay.genre}}
    </a>
</div>
